@using ProductManager.Application.Models.DBEntities
@model ProductManager.Application.Models.DBEntities.Product
@{
    string productCategory = "";
    foreach(SelectListItem selectListItem in ViewBag.Categories)
    {
        if(selectListItem.Value == Model.CategoryID.ToString())
        {
            productCategory = selectListItem.Text;
        }
    }
}
<div class="modal fade" id="productDetails_@Model.ProductID" aria-labelledby="productDetailsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productDetailsLabel">Подробнее о @Model.ProductName</h5>
            </div>
            <div class="modal-body">
                <dl class="row col-sm-21">
                    <dt class="col-sm-10">Ид продукта:</dt>
                    <dd class="col-sm-11">@Model.ProductID</dd>
                    <dt class="col-sm-10">Название продукта:</dt>
                    <dd class="col-sm-11">@Model.ProductName</dd>
                    <dt class="col-sm-10">Описание продукта:</dt>
                    <dd class="col-sm-11">@Model.ProductDescription</dd>
                    <dt class="col-sm-10">Категория продукта:</dt>
                    <dd class="col-sm-11">@productCategory</dd>
                    <dt class="col-sm-10">Цена продукта:</dt>
                    <dd class="col-sm-11">@Model.ProductPrice</dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>