@model ProductManager.Application.Models.DBEntities.Product

@* <div class="modal-body">
    <p>Ид продукта: @Model.ProductID</p>
    <p>Название продукта: @Model.ProductName</p>
    <p>Описание продукта: @Model.ProductDescription</p>
    <p>Цена продукта: @Model.ProductPrice</p>
</div>

 *@

<div class="modal fade" id="detailProduct_"+@Model.ProductID aria-labelledby="detailProductLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailProductLabel">Подробнее о продукте</h5>
            </div>
            <div class="modal-body">
                <form asp-controller="Product" asp-action="CreateProduct" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="@Model.ProductName" class="control-label"></label>
                        <input asp-for="@Model.ProductName" class="form-control" />
                        <span asp-validation-for="@Model.ProductName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryID" class="control-label">Категория продукта</label>
                        <select class="form-control" name="CategoyID" asp-items="ViewBag.Categories">
                            <option value="1">Выберите категорию продукта</option>
                        </select>
                        <span asp-validation-for="CategoryID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.ProductDescription" class="control-label"></label>
                        <input asp-for="@Model.ProductDescription" class="form-control" />
                        <span asp-validation-for="@Model.ProductDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.ProductPrice" class="control-label"></label>
                        <input asp-for="@Model.ProductPrice" class="form-control" />
                        <span asp-validation-for="@Model.ProductPrice" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>