@using ProductManager.Application.Models.DBEntities
@model ProductManager.Application.Models.DBEntities.Product

<div class="modal fade" id="createProduct" aria-labelledby="createProductLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createProductLabel">Добавление нового продукта</h5>
            </div>
            <div class="modal-body">
                <form asp-controller="Product" asp-action="CreateProduct" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="@Model.ProductName" class="control-label"></label>
                        <input asp-for="@Model.ProductName" class="form-control" />
                        <span asp-validation-for="@Model.ProductName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.CategoryID" class="control-label">Категория продукта</label>
                        <select asp-for="@Model.CategoryID" class="form-control" name="CategoryID" asp-items="ViewBag.Categories">
                            <option value="1">Выберите категорию продукта</option>
                        </select>
                        <span asp-validation-for="@Model.CategoryID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.ProductDescription" class="control-label"></label>
                        <input asp-for="@Model.ProductDescription" class="form-control" />
                        <span asp-validation-for="@Model.ProductDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.ProductPrice" class="control-label"></label>
                        <input asp-for="@Model.ProductPrice" class="form-control" />
                        <span asp-validation-for="@Model.ProductPrice" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>