@model ProductManager.Application.Models.DBEntities.Product

<div class="modal-body">
    <p>Ид продукта: @Model.ProductID</p>
    <p>Название продукта: @Model.ProductName</p>
    <p>Описание продукта: @Model.ProductDescription</p>
    <p>Цена продукта: @Model.ProductPrice</p>
</div>

@* <div id="@("Product_ " + Model.ProductID + "_Detail")" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ProductDetailLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Подробнее о продукте</h5>
            </div>
            <div class="modal-body">
                <p>Ид продукта: @Model.ProductID</p>
                <p>Название продукта: @Model.ProductName</p>
                <p>Описание продукта: @Model.ProductDescription</p>
                <p>Цена продукта: @Model.ProductPrice</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close" onclick="javascript:window.location.reload()">Закрыть</button>
            </div>
        </div>
    </div>
</div> *@
