@using ProductManager.Application.Models.DBEntities
@model ProductManager.Application.ViewModels.PricelistPageViewModel
@* вверх будем пихать модель представления отдельного прайслиста - сделать при создании действия контроллера для отдельного прайслиста*@

@* сделать вывод базовых данных прайслиста(ид прайслиста, название прайслиста, даты изменения прайслиста,создания прайслиста) *@
@* сделать вывод данных о покупках прайслиста и дополнительных параметрах в виде таблицы -->
--> Название товара покупки(кликабельно вызывает всплывающее окно о товаре), цена за весь товар, вид количества товара (шт.,кг.,л.) -->
--> Список дополнительных параметров для покупок (Название параметра) *@
@* сделать кнопки для редактирования и удаления прайслиста *@
@* сделать таблицу передвигаемой побокам
сделать пагинацию  *@
<div>Страница прайслиста @Model.Pricelist!.PricelistName </div>
<div>Таблица покупок прайслиста:</div>
<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Ид продукта</th>
            <th>Название продукта</th>
            <th>Количество</th>
            <th>Цена за ед.</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PricelistProductPurchase purchase in Model?.Purchases ?? new List<PricelistProductPurchase>())
        {
            <tr>
                <td>@purchase.ProductID</td>
                <td>@purchase.ProductNameAtBuy</td>
                <td>@purchase.ProductQuantityNumber @purchase.ProductQuantityNameAtBuy</td>
                <td>@purchase.ProductPriceAtBuy</td>
            </tr>
        }
    </tbody>
</table>
@* сделать вывод общей суммы прайслиста внизу *@