@using ProductManager.Application.Models.DBEntities
@model ProductManager.Application.ViewModels.PricelistPageViewModel

<div>Страница прайслиста @Model.Pricelist!.PricelistName </div>
<div>ИД прайслиста @Model.Pricelist!.PricelistID</div>
@* эта страница одна, но режима работы два просмотр/редактирование) *@
@* кнопка редактирования/просмотра прайслиста - вызов страницы с нужным режимом*@
@* кнопка ниже будет вызывать всплывающее окно с подтверждением *@
@* кнопка удаления прайслиста *@
@* примерный функционал этой страницы в режимах просмотр/редактирование *@
@* режим просмотр прайслиста *@
@* кнопка редактирования прайслиста *@
@* кнопка удаления прайслиста *@
@* режим редактирования прайслиста *@
@* кнопка просмотра прайслиста *@
@* кнопка добавления покупки - всплывающее окно *@
@* кнопки удаления покупки на покупках - всплывающее окно с подтверждением *@
@* кнопка удаления прайслиста *@
<div>Таблица покупок прайслиста:</div>
<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Ид покупки</th>
            <th>Ид продукта</th>
            <th>Название продукта</th>
            <th>Количество</th>
            <th>Цена за ед.</th>
            @foreach(string name in Model?.OptionalParameterNames ?? new List<string>())
            {
                <th>@name</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (PricelistProductPurchase purchase in Model?.PurchaseListViewModel?.Purchases ?? new List<PricelistProductPurchase>())
        {
            <tr>
                <td>@purchase.PurchaseID</td>
                @if (purchase.ProductID != null)
                {
                    <td>@purchase.ProductID</td>
                    <td>
                        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="@("#productDetails_" + @purchase.ProductID)" asp-controller="Product" asp-action="ProductDetails">
                            @purchase.ProductNameAtBuy
                        </button>
                        <partial name="../Shared/Product/_ProductDetailsPartialView" , model="new ProductPageViewModel(Model!.PricelistProducts!.Where(e=>e.ProductID == purchase.ProductID).FirstOrDefault() ?? SystemValues.GetProductNull(), ViewBag.PricelistCategories)" />
                    </td>                     
                }
                else
                {
                    <td> - </td>
                    <td>@purchase.ProductNameAtBuy</td>
                }
                <td>@purchase.ProductQuantityNumber @purchase.ProductQuantityNameAtBuy</td>
                <td>@purchase.ProductPriceAtBuy</td>
                @foreach (PricelistOptionalParameter value in Model?.OptionalParameterValues ?? new List<PricelistOptionalParameter>())
                {
                    @if (value.PurchaseID == purchase.PurchaseID)
                    {
                        <th>@value.OptionalParameterValue</th>
                    }
                }
            </tr>
        }
    </tbody>
</table>    
@if ((Model?.Purchases ?? new List<PricelistProductPurchase>()).Count > 0)
{
                        @* сделать пагинацию покупок в прайслисте*@
                        @* сделать выбор количества выводимых покупок*@
    <vc:page-size-selector list-view-model="Model?.PurchaseListViewModel" />
    <div page-model="@Model?.PurchaseListViewModel?.PageViewModel" page-action="@Model?.ActionName" page-controller="@Model?.ControllerName" page-class-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary" page-class-arrow="btn-secondary"
         page-url-pageSize="@Model?.PurchaseListViewModel!.PageViewModel.PageSize ?? 1"
         page-url-pricelistId="@Model?.Pricelist.PricelistID ?? 0"
         page-sort-order="null"
         class="btn-group pull-right m-1">
    </div>
}
@* сделать вывод базовой суммы прайслиста внизу *@



