@model IEnumerable<string>
@{
    if(ViewBag.SortOrder != null)
    {
        if (ViewBag.SortOrder == SortOrder.NameAsc || ViewBag.SortOrder == SortOrder.NameDesc)
        {
            ViewBag.SortOrder = ViewBag.SortOrder == SortOrder.NameDesc ? SortOrder.NameAsc : SortOrder.NameDesc;
        }
        if (ViewBag.SortOrder == SortOrder.PriceAsc || ViewBag.SortOrder == SortOrder.PriceDesc)
        {
            ViewBag.SortOrder = ViewBag.SortOrder == SortOrder.PriceDesc ? SortOrder.PriceAsc : SortOrder.PriceDesc;
        }
    }
}
<div class="d-grid gap-2">
    <a class="btn btn-outline-secondary" asp-action="ProductList" asp-controller="Product" asp-route-category="" asp-route-productPage="@(ViewBag.ProductCount == 0 ? 1 : ViewBag.SelectedPage)" asp-route-pageSize="@ViewBag.SelectedPageSize" asp-route-sortOrder="@ViewBag.SortOrder" asp-route-searchString="@ViewBag.SearchString">Все продукты</a>
    @foreach (string category in Model ?? Enumerable.Empty<string>())
    {
        <a class="btn @(category == ViewBag.SelectedCategory ? "btn-primary":"btn-outline-secondary") " asp-action="ProductList" asp-controller="Product" asp-route-category="@category" asp-route-productPage="@(ViewBag.ProductCount == 0 ? 1 : ViewBag.SelectedPage)" asp-route-pageSize="@ViewBag.SelectedPageSize" asp-route-sortOrder="@ViewBag.SortOrder" asp-route-searchString="@ViewBag.SearchString">@category</a>
    }
</div>

